#login{
	border:2px black solid;
	border-radius:15px;
	background:#9999FF; 
	width:50%;
	height:260px;
	margin-top: 50px;
    left: 20%;
    position:relative;
    padding:5%;
    text-align:center;
}

#login div {
	position:relative;
}
#alerte{
	width:60%;
	left: 20%;
	margin-top: 50px;
	height:5%;
	line-height:300%;
	position:relative;
}

#login_Form {
	margin-top:5%;
	line-height:3em;
	display:inline-block;
}
#titreConnexion{
	text-align:center;
	font-size:2em;
	margin:0 auto;
}

#loginLabels {
	margin:0;
	float:left;
}
#loginLabels p {
	margin:0;
	
}
#loginTextFields {
	margin-left:40%;
}
					/*Firefox explose la disposition du form de login lorsqu'il y a une margin-left. Mathieu Dumoulin*/
          			@-moz-document url-prefix() {
                        #loginTextFields{
                        	margin:0 auto;
                    	}
                    }
#TBNomUsager{
	position:relative;
	top:0;
	left:0;
}


#TBMotDePasse{
	position:relative;
	top:10%;
	left:0;
}

#linkLostAcount{
	top:70%;
	left:40%;
}


#btnConnexion{
	padding:5px;
	border:2px solid black; 
	border-radius: 5px;
	background-color:silver;
}

#btnConnexion:hover {
	background-color:white;
}
#btnConnexion:focus {
	border-color:gray;
}

