/*  
	Prof-GererQuiz.css
	Par : Mathieu Dumoulin
	Date : 19/09/2014
	Description : Contient le css qui est spécifique au HTML de la page Prof-GererQuiz.php 
*/

/* CSS propre au drop down list des cours */
fieldset {
	border:0;
	width:25%;
	margin-top:30px;
	margin-left:3%;
	padding:0;
}

#DDL_Cours {
	width:100%;
}


/* CSS propre aux listes principales */
#ListeQuiz {
	margin-left:3%;
	margin-top:0;
	margin-right:0;
}

#ListeModifQuiz {
	margin-left:11%;
}

#ListeModifQuiz ul {
	height:85%;
}

#QuizDropZone {
	margin-bottom:20px;
	background-color:#FD8740;
	list-style-type:none;
	vertical-align:middle;
	border:outset;
}

#QuizDropZone li {
	border-radius: inherit;
	padding-top:15px;
	height:35px;
}

#QuizDropZone li span {
	float:left;
	line-height:50px;
}

.QuizDropZone_hover {
	background-color: #FDA068;
}

#ListeGererQuestions {
	margin-left:11%;
}

#UlQuestion {
	height:85%;
}

#AjouterQuestion {
	border:solid black;
	margin-top:10%;
	line-height: 50px;
	background-color:white;
}

#AjouterQuestion:hover {
	background-color:#E4E4E4;
}

.ListeGererQuiz {
	width:20%;
	height:500px;
	display:inline-block;
}

.ListeDivElementStyle {
	width:100%;
	height: 50px;
	border-radius:10px;
	cursor:pointer;
	text-align: center;
}

/* Label pour les listes principales */
#LBL_ListesGererQuiz {
	margin-left:5%;
	width:90%;
	text-align:center;
	padding:10px;
	font-size:x-large;
}

#GererQuiz {
	float:left;
	margin-left:6%;
}
#ModifierQuiz{
	margin-left:2%;
}
#GererQuestions {
	float:right;
	margin-right:5%;
}


#EnonceQuestion {
    background-color:red;
    width:60%;
    min-height:70px;
    //font-size:12px;
    font-family:"Comic Sans MS", cursive, sans-serif;
    border:solid black;
    border-radius:10px;
    padding:10px;
}
#reponseConteneur {
    background-color:blue;
    width:50%;
    min-height:400px;
    font-family:"Comic Sans MS", cursive, sans-serif;
    border:solid black;
    border-radius:10px;
    margin-top:20px;
}
.dDivPrincipale {
    padding:10px;
}