vti_encoding:SR|utf8-nl
vti_author:SR|EPP\\201259678
vti_modifiedby:SR|EPP\\201259678
vti_timelastmodified:TR|24 Sep 2014 21:08:53 -0000
vti_timecreated:TR|17 Sep 2014 15:52:22 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|ProjetQuiz/Quiz/Site\\ web/Nouveau\\ dossier/Prof-GererQuiz.html ProjetQuiz/Quiz/Site\\ web/Nouveau\\ dossier/Prof-GererQuiz.php
vti_nexttolasttimemodified:TW|24 Sep 2014 20:54:00 -0000
vti_cacheddtm:TX|24 Sep 2014 21:08:53 -0000
vti_filesize:IR|1641
