vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Sep 2014 13:30:44 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|ProjetQuiz/Quiz/Site\\ web/Nouveau\\ dossier/ZeGrayDivTest.html
vti_author:SR|EPP\\201259678
vti_modifiedby:SR|EPP\\201259678
vti_timecreated:TR|19 Sep 2014 13:30:44 -0000
vti_cacheddtm:TX|19 Sep 2014 13:30:44 -0000
vti_filesize:IR|90
